body{
    margin: 0px;
}
.error{
    color: red;
    text-align: center;
}
.ok{
    color: green;
    align-items: center;
}
.hidden{
    display: none;
}
.visualizza_punti{
    height:100vh;
    width: 100vw;
    background-color:rgba(146, 160, 166 , 1);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0; 
    bottom: 0;
}
.container{
    margin: 0 50px;
    width: fit-content;
    height: auto;
  }
  .container .punto{
    height: 12px;
    width: 12px;
    background-color: whitesmoke;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50px;
  }
  .container:nth-child(1) .punto {
    animation: dotLoaders 1.5s linear infinite forwards;
  }
  #punto1 {
    animation-delay: 0.25s;
  }
  #punto2 {
    animation-delay: 0.5s;
  }
  #punto3 {
    animation-delay: 0.75s;
  }
  @keyframes dotLoaders {
    0% {
      background-color: rgba(255, 255, 255, 0.137);
      transform: scale(0.8);
    }
    50% {
      background-color: rgb(255, 255, 255);
      transform: scale(1.5);
    }
    100% {
      background-color: rgba(255, 255, 255, 0.137);
      transform: scale(0.8);
    }
  }
  .no-scroll{
    overflow: hidden;
}
/*Header*/
header{
    font-family: 'Gothic A1', sans-serif;
    color: white;
    font-size: 2.5rem;
    height: 20vh;
    background-color:#92A0A6;
    display: flex;
    flex-direction: column;
}
nav{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
#menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0px;
  }
#menu {
    display: none;
  }
#Logo img{
    height: 10vh;
}
#Logo{
    margin-top: 1vh;   
    margin-left: 1vw; 
}
#links a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
#links{
    margin-top: 2vh;   
    margin-right: 2vw;
}
#links a:hover{
    font-weight: bold;
    font-size: 1.7rem;
}
#Principale{
    height: 10vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media(max-width: 1200px){
    #links{
        display: none;
    }
    #menu {
        display: block;
        position: fixed;
        right: 2vw;
        top: 1vh;
      }
    header #Principale{
        font-size: 2.5rem;
    }
}
@media(max-width: 600px){
    header #Logo img{
        height: 8vh;
    }
    header #Principale{
        font-size: 1.5rem;
    }
}
@media(max-width: 350px){
    header #Logo img{
        height: 6vh;
    }
    header #Principale{
        font-size: 1.2rem;
    }
}