body{
    margin:0px;
}
.Hidden{
    display: none;
}
.visualizza_punti{
    height:100vh;
    width: 100vw;
    background-color:rgba(255, 255, 255 , 1);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0; 
    bottom: 0;
}
.container{
    margin: 0 50px;
    width: fit-content;
    height: auto;
  }
  .container .punto{
    height: 12px;
    width: 12px;
    background-color: rgba(128, 128, 128 , 1);
    display: inline-block;
    margin: 0 5px;
    border-radius: 50px;
  }
  .container:nth-child(1) .punto {
    animation: dotLoaders 1.5s linear infinite forwards;
  }
  #punto1 {
    animation-delay: 0.25s;
  }
  #punto2 {
    animation-delay: 0.5s;
  }
  #punto3 {
    animation-delay: 0.75s;
  }
  @keyframes dotLoaders {
    0% {
      background-color: rgba(128, 128, 128 , 0.137);
      transform: scale(0.8);
    }
    50% {
        background-color: rgba(128, 128, 128 , 1);
      transform: scale(1.5);
    }
    100% {
      background-color: rgba(128, 128, 128 , 0.137);
      transform: scale(0.8);
    }
  }
  .no-scroll{
    overflow: hidden;
}
/*Header*/
header{
    height: 35vh;
    display: flex;
    flex-direction: column;
    font-family: 'Gothic A1', sans-serif;
    font-size: 3rem;
    color: white;
    background-image: url("../Foto/Sfondo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
header::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}
nav{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
#menu div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0px;
  }
#menu {
    display: none;
  }
#Logo img{
    height: 15vh;
}
#Logo{
    margin-top: 1vh;   
    margin-left: 1vw; 
}
#links a{
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
#links{
    margin-top: 2vh;   
    margin-right: 2vw;
}
#links a:hover{
    font-weight: bold;
    font-size: 1.7rem;
}
#Principale{
    height: 15vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Iscriviti{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5vh;
    margin-right: 2vw;
    z-index: 1;
}
#Iscriviti .Button{
    color:white;
    text-decoration: none;
    font-size: 1rem;
    border: 3px solid white;
    border-radius: 100px;
    padding: 10px 8px;
    background-color: rgba(255, 255, 255, 0.2);
}
#Iscriviti .Button:hover{
    color: black;
    font-weight:500;
    background-color: rgb(255, 255, 255);
}
/*Header*/
@media(max-width: 1200px){
    header{
        height: 30vh;
    }
    #links{
        display: none;
    }
    #menu {
        display: block;
        position: fixed;
        right: 2vw;
        top: 1vh;
      }
    header #Principale{
        height: 15vh;
        font-size: 2.5rem;
    }
    header #Iscriviti{
        margin-bottom: 3vh;
    }
}
@media(max-width: 600px){
    header #Logo img{
        height: 13vh;
    }
    header #Principale{
        font-size: 1.5rem;
    }
    header #Iscriviti{
        margin-bottom: 2vh;
    }
    header #Iscriviti .Button{
        font-size: 0.7rem;   
        padding: 6px 4px; 
    }
}
@media(max-width: 350px){
    header #Logo img{
        height: 10vh;
    }
    header #Principale{
        font-size: 1.2rem;
    }
    header #Iscriviti .Button{
        font-size: 0.4rem;    
    }
}