body{
    margin: 0px;
}
.error{
    text-align: center;
    color: red;
    border-color: red;
}
.visualizza_punti{
    height:100vh;
    width: 100vw;
    background-color:rgba(146, 160, 166 , 1);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0; 
    bottom: 0;
}
.container{
    margin: 0 50px;
    width: fit-content;
    height: auto;
  }
  .container .punto{
    height: 12px;
    width: 12px;
    background-color: whitesmoke;
    display: inline-block;
    margin: 0 5px;
    border-radius: 50px;
  }
  .container:nth-child(1) .punto {
    animation: dotLoaders 1.5s linear infinite forwards;
  }
  #punto1 {
    animation-delay: 0.25s;
  }
  #punto2 {
    animation-delay: 0.5s;
  }
  #punto3 {
    animation-delay: 0.75s;
  }
  @keyframes dotLoaders {
    0% {
      background-color: rgba(255, 255, 255, 0.137);
      transform: scale(0.8);
    }
    50% {
      background-color: rgb(255, 255, 255);
      transform: scale(1.5);
    }
    100% {
      background-color: rgba(255, 255, 255, 0.137);
      transform: scale(0.8);
    }
  }
  .no-scroll{
    overflow: hidden;
}

/*Header*/
header{
    font-family: 'Gothic A1', sans-serif;
    color: white;
    font-size: 2.5rem;
    height: 10vh;
    background-color:#92A0A6;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    height: 10vh;
    width: 5vw;
    margin-left: 1vw;
}
#link{
    height: 10vh;
    width: 5vw;
    display: flex;
    align-items: center;
    margin-right: 1vw;
}
#link a{
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}
#link a:hover{
    font-weight: bolder;
}

/*Versione per tablet/iPad */

/*Header*/
@media(max-width: 1200px){
    header{
        font-size: 2rem;
    }
    header img{
        width: 12vw;
    }
    #link{
        width: 12vw;
    }
    #link a{
        margin-right: 0vw;
    }
}
@media(max-width: 600px){
    /*Header*/
    header{
        height: 10vh;
        font-size: 1.2rem;
        text-align: center;
    }
    header img{
        height: 10vh;
        width: 10vh;
    }
    #link{
        height: 10vh;
        width: 10vh;
    }
    #link a{
        margin-left: 2vw;
        font-size: 0.7rem;
    }
}
@media(max-width: 350px){
    #link a{
        margin-right: 1vw;
    }
}